<header>
    <nav>
      <ul>
        <li><a href="/rekomendacje">Rekomendacje</a></li>
        <li><a href="/add-link">Dodaj link</a></li>
        <li><a href="/add-person">Dodaj osobę</a></li>
        <li><a href="/add-object">Dodaj obiekt</a></li>
      </ul>
    </nav>
  </header>
  